{% extends 'shopapp/base.html' %}

{% block title %}
    Order list
{% endblock %}

{% block body %}
<h1>Orders:</h1>
  <div>
    {% if not orders %}
      <h3>No orders yet</h3>
    {% else %}
      {% for order in orders %}
        <div>
            <p>Order by {{ order.user.username }}</p>
            <p>Delivery address: {{ order.delivery_address }}</p>
            <p>Created at: {{ order.created_at }}</p>
            <p>Promo code: {{ order.promo }}</p>
        </div>
      {% endfor %}

    {% endif %}
  </div>
{% endblock %}